<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Your Files</h2>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="f in a3files" ng-click="updateFile('set', f.stamp)">
            <span class="close pull-right" ng-click="updateFile('remove', f.stamp)">&times;</span>
            <h3>{{f.stamp}}</h3>
            <p class="text-muted">
              <span class="label label-default" ng-show="f.stamp == selectedStamp">Selected</span>
              Updated At {{f.updated_at}}
            </p>
          </li>
          <li class="list-group-item">
            <form action="/api/fileupload" method="post" accept-charset="utf-8"
            enctype="multipart/form-data">
              <button type="submit" class="btn btn-sm btn-success pull-right" value="submit">Upload</button>
              <label>Select CSV File To Upload</label>
              <input name="csv" type="file" accept=".csv" value="" required/>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
