<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Plot
        <div class="btn-group">
        <label class="btn btn-outline btn-success" ng-model="imageType" btn-radio="'box'" uncheckable>Box</label>
        <label class="btn btn-outline btn-success" ng-model="imageType" btn-radio="'histogram'" uncheckable>Histogram</label>
        <label class="btn btn-outline btn-success" ng-model="imageType" btn-radio="'cluster'" uncheckable>Cluster</label>
        </div>
        </h1>
        
        <div class="panel panel-default">
        <form ng-submit="doPlot()" name="plotform">
          <div class="panel-heading">Inputs </div>
          <div class="panel-body" ng-show="imageType=='box'">
            <label>Column on X:</label>
            <select class="form-control" ng-model="onX" required>
              <option ng-repeat="c in allColumns" value="{{c.name}}">{{c.name}}</option>
            </select>

            <label>Column on Y:</label>
            <select class="form-control" ng-model="onY" required>
              <option ng-repeat="c in allColumns" value="{{c.name}}">{{c.name}}</option>
            </select>

            <label>Y Limit</label>
            <input type="number" class="form-control" ng-model="ylim" required>
          </div>
          <div class="panel-body" ng-show="imageType=='histogram'">
            Inputs for histogram plot
            <label>Column </label>
            <select class="form-control" ng-model="onX" required>
              <option ng-repeat="c in allColumns" value="{{c.name}}">{{c.name}}</option>
            </select>


          </div>
          <div class="panel-footer">
            <button class="btn btn-success btn-block" type="submit">Plot</button>
          </div>
        </div>
        </form>
        <img class="img-responsive" src="data:image/png;base64,{{imageBase64}}">
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>